<div class="div">
    <img src="assets\Dako-Logo.png" height="90px" width="180px">
    <div class="divin" style="font-size: 20px;">Driver DashBoard</div>

    <div style="flex: 1;"></div>
    <div class="divin" style="font-size: 2rem;" >Welcome &nbsp; {{title1}}</div>
    <a href="#about" (click)="logout()" style="margin-right: 5px;"> <img src="assets\logout-rounded.png" alt=""> <b>Logout</b> </a> 
    <div style="position: absolute;top: 78px;background: rgb(255, 255, 255);height:7px; width:60px;left: 150px; "></div>

</div>
<div style="position: absolute;top: 71px;background: rgb(255, 255, 255);height:7px; width:60px;left: 140px; "></div>

<router-outlet></router-outlet>  