<h3 style="text-align: center;font-weight: 50px;">Booking Form</h3>

<div class="main">
    <form action="">
    <div class="child"> <label for="" >Pickup Location</label> <input type="text" value="Khilgaon" style="border: .1px solid black;"></div>
    <div class="child"> <label for="">Dropup Location</label> <input type="text" value="Mirpur"></div> 
    <div class="child"> <label for="">Car Registration No</label> <input type="text" value="D-GRT455"> </div>
    <div class="child"> <label for="">Model</label> <input type="text" value="Axio"></div>

    <div class="child"> <label for="">Seat Type</label> <input type="text" value=" 4 Seater"></div>
    <div class="child"> <label for="">Fare</label> <input type="text" value="250.00Tk."></div> 
    <button style="margin-left: 40px;box-sizing: border-box;margin-top: 10px;color: white;background: green;border-radius: 4px;">Confirm</button> <button style="margin-left: 10px;color: white;background: red;border-radius: 4px;">Cancel</button>
</form>

</div>