.main{
  top: 80px;
  left: 500px;
  display: grid;
  grid-template-columns: auto auto auto auto ;
  column-gap: 20px;
  height: 300px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-items: center;
  /* background: whitesmoke; */
  border-radius: 2px;
  border: 2px solid black;
  position: absolute;
  
}
.child{
  position: relative;
  height:70px;
  width:220px;
  border: 1px solid #eee;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 2px;
  background-color: #0a5b9a;
color: white;
  box-shadow: inset 1px 1px 5px 5px#e8e6e6;
font-size: 20px;

}


.container px-4 px-lg-5 mt-5 card rounded-0 card-outline card-purple shadow:hover{
  transition: all .5s;

}





.container {
  
  position: absolute;
  top: 200px;
  left: 500px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
