

<!-- 
  <div class="table-container">
    <table class="table">
      <caption>A snapshot of our team</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Occupation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Doe</td>
          <td>30</td>
          <td>Software Engineer</td>
        </tr>
        <tr>
          <td>Jane Doe</td>
          <td>25</td>
          <td>Doctor</td>
        </tr>
        <tr>
          <td>Peter Smith</td>
          <td>40</td>
          <td>Lawyer</td>
        </tr>
      </tbody>
    </table>
  </div> -->









  <!-- Modal HTML -->
  <!DOCTYPE html>
  <html>
  <head>
    <title>Bootstrap Modal with Custom CSS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Open Modal</button>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This is the modal body.</p>
        </div> -->
        
      </div>
    </div>
  </div>
  
  </body>
  </html>
  
<div class="table-container ">
  <table class="table table-hover tab">
    <thead>
      <tr style="height:30%">
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

</div>