


  <div class="table-container">
    <table class="table">
      <caption>A snapshot of our team</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Occupation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Doe</td>
          <td>30</td>
          <td>Software Engineer</td>
        </tr>
        <tr>
          <td>Jane Doe</td>
          <td>25</td>
          <td>Doctor</td>
        </tr>
        <tr>
          <td>Peter Smith</td>
          <td>40</td>
          <td>Lawyer</td>
        </tr>
      </tbody>
    </table>
  </div>