<div class="main">
  <button type="button" [ngClass]="{'blink-button': newReq}" style="height:70px ;width: 200px;box-sizing: border-box;padding: 20px;text-align: center;margin-top:30px ;" data-target="#exampleModalCenter" data-toggle="modal" (click)="submit()">Incoming Request</button>

    <div class="container px-4 px-lg-5 mt-5 card rounded-0 card-outline card-purple shadow" style="height:70px ;width: 200px;box-sizing: border-box;padding: 15px;text-align: center;">Pending Earning <br> 0 </div>
    <div class="container px-4 px-lg-5 mt-5 card rounded-0 card-outline card-purple shadow" style="height:70px ;width: 200px;box-sizing: border-box;padding: 20px;text-align: center;">Total Trip <br>  0 </div>
        <div class="container px-4 px-lg-5 mt-5 card rounded-0 card-outline card-purple shadow" style="height:70px ;width: 200px;box-sizing: border-box;padding: 15px;text-align: center;">Total Earnings <br>{{driverEarnings.earnings}}</div>

  </div>


  <div class="content py-5 mt-5">
    <div class="container">
        <div class="card card-outline card-purple shadow rounded-0">
            <div class="card-header">
                <h4 class="card-title" style="color: rgb(63, 5, 118);">My Booking List</h4>
            </div>
            <div class="card-body">
              


                <!-- <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>DATE Booked</th>
                      <th>Ref No.</th>
                      <th>Pickup</th>
                      <th>Dropup</th>
                      <th>Status</th>
                      <th>Action</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr [ngClass]="{'blink-button2': new}">
                      
                      <td style="text-align: center;">{{1}}</td>
                      <td style="text-align: center;">{{myObject3.date_booked}}</td>
                      <td style="text-align: center;">{{myObject3.ref_code}}</td>
                      <td style="text-align: center;">{{myObject3.pickup}}</td>
                      <td style="text-align: center;">{{myObject3.dropup}}</td>
                      <td style="text-align: center;">{{myObject3.status}}</td>
                      <td style="text-align: center;"  data-target="#exampleModalCenter2" data-toggle="modal"  ><button style="width: 60%">View Details</button></td>


                  </tr>
                  <tr>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center;">09-04-2022</td>
                    <td style="text-align: center;">746-674</td>
                    <td style="text-align: center;">Motijheel</td>
                    <td style="text-align: center;">Banani</td>
                    <td style="text-align: center;">status</td>
                    <td style="text-align: center;"><button style="width: 60%">View Details</button></td>


                </tr>
                <tr>
                  <td style="text-align: center;">3</td>
                  <td style="text-align: center;">09-04-2022</td>
                  <td style="text-align: center;">746-674</td>
                  <td style="text-align: center;">Motijheel</td>
                  <td style="text-align: center;">Banani</td>
                  <td style="text-align: center;">status</td>
                  <td style="text-align: center;"><button style="width: 60%">View Details</button></td>


              </tr>
                  </tbody>
                </table> -->


                <table class="table table-hover tab">
                  <thead>
                    <tr style="height:30%">
                      <!-- <th scope="col" style="text-align: center;">#</th> -->
                      <th scope="col" style="text-align: center;">Date Booked</th>
                      <th scope="col" style="text-align: center;">Ref No.</th>
                      <th scope="col" style="text-align: center;">Pickup</th>
                      <th scope="col" style="text-align: center;">Dropup</th>
                      <th scope="col" style="text-align: center;">Status</th>
                      <th scope="col" style="text-align: center;">Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr [ngClass]="{'blink-button2': new}" >
                      <td style="text-align: center;">{{myObject3.date_booked}}</td>
                      <td style="text-align: center;">{{myObject3.Ref_code}}</td>
                      <td style="text-align: center;">{{myObject3.pickup}}</td>
                      <td style="text-align: center;">{{myObject3.dropup}}</td>
                      <td style="text-align: center;">{{myObject3.status}}</td>
                      <td style="text-align: center;"  data-target="#exampleModalCenter2" data-toggle="modal"  ><button style="width: 60%">View Details</button></td>
                    </tr>
                    <tr *ngFor="let v of booking1">

                    <td style="text-align: center;">{{v.date_booked}}</td>
                    <td style="text-align: center;">{{v.Ref_code}}</td>
                    <td style="text-align: center;">{{v.pickup}}</td>
                    <td style="text-align: center;">{{v.dropup}}</td>
                    <td style="text-align: center;">{{v.status}}</td>
                    <td style="text-align: center;"><button style="width: 60%">View Details</button></td>
                    </tr>
                    <!-- <tr>
                      <th scope="row" style="text-align: center;">3</th>
                  <td style="text-align: center;">09-04-2022</td>
                  <td style="text-align: center;">746-674</td>
                  <td style="text-align: center;">Motijheel</td>
                  <td style="text-align: center;">Banani</td>
                  <td style="text-align: center;">status</td>
                  <td style="text-align: center;"><button style="width: 60%">View Details</button></td>
                    </tr> -->
                  </tbody>
                </table>




            </div>  
        </div>
    </div>
</div>









  


















<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="position: absolute;top: 20px;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Booking Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  >
            <div class="form-group" >
              <label for="recipient-name" class="col-form-label">Client Name</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="Md.Kamrul Hasan">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Phone</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="01537263505">
            </div>
            <div class="form-group" >
              <label for="recipient-name" class="col-form-label">Pickup Point</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="{{myObject.pickup}}">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Dropup Point</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="{{myObject.dropup}}">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Fare</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="{{myObject.fare}}">
            </div>
           
           
            
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" >C</button> -->
          <button type="button" class="btn btn-primary" (click)="confirm()">Confirm Booking</button>
        </div>
      </div>
    </div>
  </div> 

   




  
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="position: absolute;top: 20px;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Confirm Booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  >
            <div class="form-group" >
              <label for="recipient-name" class="col-form-label">Pickup Point</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="{{myObject3.pickup}}">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Dropup Point</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="{{myObject3.dropup}}">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Fare</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="{{myObject3.fare}}">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Status</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="{{myObject3.status}}" disabled>
            </div>
           
            
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" >C</button> -->
          <button type="button" class="btn btn-primary" (click)="dropup(myObject3.id)">Drop off</button>
        </div>
      </div>
    </div>
  </div> 
