<div class="content py-5 mt-5">
    <div class="container">
        <div class="card card-outline card-purple shadow rounded-0">
            <div class="card-header">
<h2 style="text-align: center;"> <b> Available Cab </b> </h2>
<h4 style="text-align: center;">{{Pick}} </h4> 
<h4 style="text-align: center;">To </h4> 

<h4 style="text-align: center;">{{drop}}</h4>

            </div>
            <div class="card-body">
               







                <table class="table table-hover tab ">
                  <thead>
                    <tr style="height:30%">
                    <th class="text-center" scope="col">Cab Registration No</th>
                    <th class="text-center" scope="col">Cab Model</th>
                    <th class="text-center" scope="col">Category</th>
                    <th class="text-center" scope="col">Driver Name</th>
                    <th class="text-center" scope="col">Fare</th>
                    <th class="text-center" scope="col">Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let v of post">
                      <td style="text-align: center;">{{v.registration}}</td>
                      <td style="text-align: center;">{{v.model}}</td>
                      <td style="text-align: center;">{{v.category}}</td>

                      <td style="text-align: center;"> <img [src]="v.imagePath" alt=""  height="40px" width="40px">    <br> {{v.driver.name}}
                      </td>

                      <td style="text-align: center;"> {{(v.fair * this.distance2).toFixed(0)}} &nbsp; Tk.</td>



                     
 <td style="text-align: center;">

                          <button type="button" (click)="show(v)"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"  style="color: white;" >Go</button></td> 

                  </tr>
                
                  </tbody>
                </table>
              










            </div>  
        </div>
    </div>
</div>






































  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 30px;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Confirm Booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="Form" >
            <div class="form-group" >
              <label for="recipient-name" class="col-form-label">Pickup Point</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="{{Pick}}" disabled>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Dropup Point</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" value="{{drop}}" disabled> 
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Registration No.</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);"   formControlName="registration">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Car Category</label>
              <input type="text"  class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);"  formControlName="category">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Driver Name</label>
              <input type="text" class="form-control" id="recipient-name" style="color: rgb(29, 3, 54);" formControlName="driver">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Fair</label>
              <input type="text" class="form-control" id="recipient-name" value="" style="color: rgb(29, 3, 54);"  formControlName="fare">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#exam" (click)="submit()" >Confirm Booking</button>
          <!-- <button type="button" class="btn btn-secondary" (click)="submit()"  data-toggle="modal" data-target="#exam"   >Confirm Booking</button> -->
        </div>
      </div>
    </div>
  </div> 














  <div class="modal fade" id="exam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 style="text-align: center;"><b>Request sent! </b> </h3> <br> <h4 style="text-align: center;">Please Wait to be confirmed</h4>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
















